html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

#components-reconnect-modal {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8) !important;
    opacity: 1 !important;
}

::selection {
    background-color: var(--mud-palette-secondary);
}
